{% extends 'form-base.html' %}
{% block titulo_pagina %}Editar Cliente{% endblock %}
{% block content %}
<form method="POST">
    <div class="form-group mb-3">
        <label class="form-label">Nombre Completo</label>
        <input type="text" name="nombre" class="form-control" value="{{ cliente.nombre }}" required>
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Edad</label>
        <input type="number" name="edad" class="form-control" value="{{ cliente.edad }}" required>
    </div>
    <div class="form-group mb-4">
        <label class="form-label">Teléfono</label>
        <input type="text" name="telefono" class="form-control" value="{{ cliente.telefono }}">
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle me-1"></i> Actualizar Cliente</button>
        <a href="{{ url_for('cliente_routes.index') }}" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
{% endblock %}
